extends layout
block content
	h1 Page #{pagenum}
	p Select one option each from both most and least
	form#selectedform(action="update" method="post")
		table#entertable
			thead
				tr
					th Name
					th Most
					th Least
			tbody
				tr
					td#row1text #{row1text}
					td#row1most 
						input(name="most" class="most" type="radio" value="#{row1most}")
					td#row1least
						input(name="least" class="least" type="radio" value="#{row1least}")
				tr
					td#row2text #{row2text}
					td#row2most 
						input(name="most" class="most" type="radio" value="#{row2most}")
					td#row2least 
						input(name="least" class="least" type="radio" value="#{row2least}")
				tr
					td#row3text #{row3text}
					td#row3most
						input(name="most" class="most" type="radio" value="#{row3most}")
					td#row3least
						input(name="least" class="least" type="radio" value="#{row3least}")
				tr
					td#row4text #{row4text}
					td#row4most
						input(name="most" class="most" type="radio" value="#{row4most}")
					td#row4least
						input(name="least" class="least" type="radio" value="#{row4least}")
		input(type="hidden" name="pagenum" value="#{pagenum}")				
	p
		button#next(type="float-left submit-button") Next
	p
		button#reset(type="float-left submit-button") Reset
	p 
	script(type="text/javascript" src="javascripts/jquery.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$('[type="radio"][class="most"]').change(function(){
				var radio = $(this);
				$('#entertable tr').each(function(){
					var l = $(this).find('[type="radio"]:checked').length;
					if(l==2){
						alert('You can select only one box from a single row!');
						radio.prop('checked',false);
					}
				});
			});
			$('[type="radio"][class="least"]').change(function(){
				var radio = $(this);
				$('#entertable tr').each(function(){
					var l = $(this).find('[type="radio"]:checked').length;
					if(l==2){
						alert('You can select only one box from a single row!');
						radio.prop('checked',false);
					}
				});
			});
			$('#next').click(function(){
				var most_count=0, least_count=0;
				$('.most').each(function(){
					if($(this).is(':checked')==1){
						++most_count;
					}
				});
				$('.least').each(function(){
					if($(this).is(':checked')==1){
						++least_count;
					}
				});
				if(most_count==0||least_count==0){
					alert('You have to select atleast one option from both least and most!');
				}
				else{
					$('#selectedform').submit();
				}	
			});
			$('#reset').click(function(){
				window.location.replace('/');
			});
		});

