extends layout
block content
	h1 Results
	p Here are your results!
	table#resultstable
		thead
			tr
				th #
				th Star
				th Square
				th Triangle
				th Z
				th N
		tbody
			tr
				td(style="font-weight: bold") Most
				td #{STAR_most}
				td #{SQ_most}
				td #{TRI_most}
				td #{Z_most}
				td #{N_most}
			tr
				td(style="font-weight: bold") Least
				td #{STAR_least}
				td #{SQ_least}
				td #{TRI_least}
				td #{Z_least}
				td #{N_least}
	p 			
	p Thank you for your patience!			